<section class="header">
<div class="card">
            <p-menubar [model]="items">
                <ng-template #start>
                     <img class="logo" src="images/logo.png" />
                </ng-template>
                <ng-template #end>
                    <div class="flex items-center gap-2">

                         <p-button label="Contact" size="small" [rounded]="true" severity="secondary" />
                    </div>
                </ng-template>
            </p-menubar>
        </div></section>