.hero {
    padding: 3rem;
    border: 2px solid red;
    height: 100vh;
    background-size: cover;      /* Scales the image to fill the screen */
    background-position: center center;  /* Centers the image */
    background-attachment: fixed; /* Keeps it from scrolling with the page */
    background-repeat: no-repeat;
    background-image:
    linear-gradient(to top, oklch(13.979% 0.00002 271.152 / 0.966),rgba(14, 13, 13, 0.103)),
    url(../../../../public/images/hero.jpg);
}

.hero-text {
    font-size: rem;
    color: white;
}



@media screen and (min-width: 560px) {
    .hero-text {
        font-size: 8rem;
    }

    .form {
        max-width: 600px;
    }
}